ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  background-color: #111111;
}
#login {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:	#FF0000;
}

img{
  padding: 10px;
}

h1 {
  font-family: verdana;
  font-size: 100%;
  font-weight: bold;
}
h2 {
  font-family: verdana;
  color: black;
  font-size: 100%;
  font-weight: bold;
}
aside {
  display: block;
  float: right;
  width: 30%;
  padding: 2px;
}
article {
  display: block;
  float: left;
  width: 70%;
  padding: 2px;
}

footer {
  clear: both;
  color: white;
  font-family: verdana;
  font-size: 50%;
  background-color:	#333333;
  text-align: center;
  padding: 10px;
}
